body {
	padding: 0px;
	margin: 0px;
}

header {
	background-color: green;
	color: orange;
	text-align: center;
}

header li {
	display: inline;
	margin: 1em;
	list-style-type: none;
}

#nav {
	background-color: orange;
}

#nav a {
	color: green;
}

main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

footer {
	background-color: green;
	color: orange;
	text-align: center;
}